
.ul{
    type:none;
    background-color: seagreen;
    text-align: center;
    border:1px solid black; 
    width:76% ;
    border-collapse: collapse;
    border-spacing  : 10em;
    margin-bottom: 2em;

}
.head{
    color:red;
    
}
body{

    background-color: burlywood ;
}
.first{

    border: 1px solid black; 
    align:right; 
    height: 200px;
    width: 25%;
    background-color: aqua;
    display: inline-block;"
}
.second{

    border: 1px solid black; 
    align:center; 
    height: 200px;
    width: 25%;
    background-color: blue;
    display: inline-block;"
}
.third{

    border: 1px solid black; 
    align:left; 
    height: 200px;
    width: 25%;
    background-color: cadetblue;
    display: inline-block;"
}
.tbl{
    text-align: center;
    border:1px solid black; 
    width:75% ;
    border-collapse: collapse;
}
tr,td{
    border: 1px solid black;
}
.th{
    border: 1px solid black;
    background-color: blueviolet;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}




